.App {
    display: flex;
    width: 100%;
    margin: 40px 5px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Params {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

label {
    font-weight: bold;
}